.full-container-payment {
    min-height: calc(100vh - 55px);
    padding-top: 55px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
}

.container-payment {
    margin: 32px 15%;
    display: flex;
    flex-grow: 1;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

.payment {
    display: flex;
    flex-direction: row;
    width: 100%;   
    backdrop-filter: contrast(0.8) 
}